*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0f172a;

    color:white;

    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;

}

.sidebar{

    position:fixed;

    left:0;

    top:0;

    width:250px;

    height:100vh;

    background:#111827;

    padding:30px;

    box-shadow:5px 0 15px rgba(0,0,0,.3);

}

.logo{

    color:white;

    margin-bottom:40px;

}

.sidebar a{

    display:block;

    color:#CBD5E1;

    text-decoration:none;

    padding:14px;

    margin-bottom:10px;

    border-radius:10px;

    transition:.3s;

}

.sidebar a:hover{

    background:#2563EB;

    color:white;

}

.main-content{

    margin-left:270px;

    padding:40px;

}

.card{

    background:#1E293B;

    color:white;

    border:none;

    border-radius:16px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

.btn{

    border-radius:10px;

}

.table{

    color:white;

}

.table th{

    color:#38BDF8;

}

.table td{

    color:white;

}