{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Dashboard</h1>

<div class="row g-4">

    <div class="col-lg-3 col-md-6">

        <div class="card p-4">

            <h6>Total Trades</h6>

            <h2>{{ total }}</h2>

        </div>

    </div>

    <div class="col-lg-3 col-md-6">

        <div class="card p-4">

            <h6>Winning Trades</h6>

            <h2>{{ wins }}</h2>

        </div>

    </div>

    <div class="col-lg-3 col-md-6">

        <div class="card p-4">

            <h6>Losing Trades</h6>

            <h2>{{ losses }}</h2>

        </div>

    </div>

    <div class="col-lg-3 col-md-6">

        <div class="card p-4">

            <h6>Win Rate</h6>

            <h2>{{ win_rate }}%</h2>

        </div>

    </div>

</div>

<br>

<div class="row">

<div class="col-lg-6">

<div class="card p-4">

<h4>Quick Analytics</h4>

<hr>

<p><strong>Most Traded Pair</strong><br>{{ most_traded }}</p>

<p><strong>Best Strategy</strong><br>{{ best_strategy }} ({{ best_strategy_rate }}%)</p>

<p><strong>Best Session</strong><br>{{ best_session }} ({{ best_session_rate }}%)</p>

<p><strong>Losing Emotion</strong><br>{{ common_emotion }}</p>

<p><strong>Most Common Mistake</strong><br>{{ common_mistake }}</p>

</div>

</div>

<div class="col-lg-6">

<div class="card p-4">

<h4>Quick Actions</h4>

<hr>

<a href="/add_trade" class="btn btn-success w-100 mb-3">

➕ Add Trade

</a>

<a href="/trades" class="btn btn-primary w-100">

📋 View Trades

</a>

</div>

</div>

</div>

{% endblock %}